html {
  box-sizing: border-box;
  font-family: FontFamilyBody;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.8rem;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
:root {
  --main-background: #3a4764;
  --keypad-background: #232c43;
  --screen-background: #182034;
  --key-background: #eae3dc;
  --key-shadow: #b4a597;
  --secondary-key-background: #637097;
  --secondary-key-shadow: #404e72;
  --accent-key-background: #d03f2f;
  --accent-key-shadow: #93261a;
  --text-color: #eae3dc;
  --key-text-color: #444b5a;
  --secondary-text-color: #eae3dc;
  --accent-key-color: #eae3dc;
  --theme-button-position: flex-start;
}
html {
  background-color: var(--main-background);
  font-family: 'Spartan', sans-serif;
}
main {
  max-width: 450px;
  margin: 0 auto;
}
.header {
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 3.5rem;
}
.header__theme-switcher {
  display: flex;
  justify-content: flex-end;
}
.header__theme-switcher__button {
  width: 75px;
}
.header__theme-switcher__button__numbers {
  display: flex;
  justify-content: space-evenly;
}
.header__theme-switcher__button__numbers__item {
  margin: 0;
  font-size: 1.4rem;
}
.header__theme-switcher__button__container {
  height: 30px;
  width: 100%;
  background-color: var(--keypad-background);
  border-radius: 15px;
  display: flex;
  padding: 0 5px;
  justify-content: var(--theme-button-position);
  align-items: center;
}
.header__theme-switcher__button__container__inner-circle {
  height: 24px;
  width: 24px;
  margin-bottom: 1px;
  background-color: var(--accent-key-background);
  border-radius: 50%;
}
