html
	box-sizing border-box
	font-family FontFamilyBody
	font-size 62.5%
	scroll-behavior smooth

*, *:before, *:after
	box-sizing inherit

body
	margin 0
	overflow-x hidden
	font-size 1.8rem

html, body
	max-width 100%
	overflow-x hidden

figure
	margin 0

img
	max-width 100%
	height auto
