mainBackground = var(--main-background)
keypadBackground = var(--keypad-background)
screenBackground = var(--screen-background)

keyBackground = var(--key-background)
keyShadow = var(--key-shadow)
secondaryKeyBackground = var(--secondary-key-background)
secondaryShadow = var(--secondary-shadow)
accentKeyBackground = var(--accent-key-background)
accentShadow = var(--accent-shadow)

textColor = var(--text-color)
keyTextColor = var(--key-text-color)
secondaryKeyTextColor = var(--secondary-key-text-color)
accentKeyTextColor = var(--accent-key-text-color)

fwBold = 700

ffPrimary = 'Spartan', sans-serif