desaturatedDarkCyan = hsl(180, 29%, 50%)
lightGrayishCyan = hsl(180, 52%, 96%)
darkGrayishCyan = hsl(180, 8%, 52%)
veryDarkGrayishCyan = hsl(180, 14%, 20%)
filtersBackground = lighten(darkGrayishCyan, 90%)

fontSize = 1.5rem

ffPrimary = 'Spartan', sans-serif

fwNormal = 500
fwBold = 700

shadow = 5px 9px 23px 0px rgba(0,0,0,0.45)