@import './_reset-styles.styl'
@import './_tokens.styl'

body
	font-family ffPrimary

.header
	&__background
		background-color desaturatedDarkCyan
		height 120px
		&__image
			height 100%
			width 100%
	&__filters
		display none
		justify-content space-between
		align-items center
		padding 0 15px
		border-radius 5px
		margin 0 10px
		margin-top -35px
		background-color white
		position relative
		min-height 70px
		box-shadow shadow
		&.active
			display flex
		&__list
			display flex
			align-items center
			flex-wrap wrap
			&__item
				display flex
				margin-top 10px
				margin 10px 0px
				margin-right 20px
				border-radius 5px
				overflow hidden
				background-color filtersBackground
				cursor pointer
				&:hover .header__filters__list__item__close
					background veryDarkGrayishCyan
				&__name
					margin 4px 5px
					margin-top 7px
					font-size 1.4rem
					display flex
					justify-content center
					color desaturatedDarkCyan
				&__close
					background-color desaturatedDarkCyan
					padding 7px
					display flex
					align-items center
					justify-content center
					&:hover
						cursor pointer
						background-color veryDarkGrayishCyan
		&__clear__button
			font-size 1.8rem
			background none
			border none
			color veryDarkGrayishCyan
			&:hover
				text-decoration underline
				cursor pointer

main
	margin-top 40px

.job
	border-radius 5px
	border-left 5px solid desaturatedDarkCyan
	padding 0 20px
	margin-top 60px
	margin-right 10px
	margin-left 10px
	margin-bottom 30px
	box-shadow shadow
	background-color white
	&__description
		margin-bottom 20px
		&__image
			height 60px
			width 60px
			margin-top -30px
		&__content
			&__title
				font-size 1.2rem
				font-weight fwBold
				display flex
				align-items center
				&__text
					color desaturatedDarkCyan
					margin-right 20px
				&__new
					background-color desaturatedDarkCyan
					color white
					padding 3px 6px
					padding-top 7px
					text-transform uppercase
					border-radius 20px
					margin-right 10px
				&__featured
					background-color veryDarkGrayishCyan
					color white
					padding 3px 6px
					padding-top 7px
					text-transform uppercase
					border-radius 20px
			&__charge
				font-size 1.5rem
				font-weight fwBold
				color veryDarkGrayishCyan
				margin-top 0
			&__data
				font-size 1.3rem
				color darkGrayishCyan
	&__filters
		border-top 1px solid darkGrayishCyan
		display flex
		flex-wrap wrap
		padding-bottom 10px
		&__item
			background-color filtersBackground
			margin 10px 20px 0 0
			padding 3px 10px
			padding-top 5px
			border-radius 3px
			color desaturatedDarkCyan
			font-size 1.3rem
			font-weight fwBold
			cursor pointer
			&:hover
				text-decoration underline

@media screen and (min-width: 870px)
	.header__filters
		max-width 1200px
		margin 30px auto
		margin-top -35px
		&--padding-container
			padding 0 20px
	main
		padding 20px
	.job
		display flex
		align-items center
		justify-content space-between
		margin 0 auto
		margin-bottom 30px
		max-width 1200px
		&__description
			display flex
			align-items center
			margin-bottom 0
			&__image
				margin 0
				margin-right 20px
			&__content__data
				margin-bottom 20px
		&__filters
			border-top none
			flex-direction row-reverse
			margin-left 50px